* {
    margin: 0;
}

body {
    overflow-y: scroll;
}

p, h1, h2, h3, h4, h5, h6, label, input {
    color: #d5d6da;
}

.main-page-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    margin-right: auto; margin-left: auto;
}
.main-page-subwrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.info-page {
    width: 500px;
    height: fit-content;
    background: #161616;
}
.main-page {
    width: fit-content;
    height: fit-content;
    background: #161616;
}
.calc-section {
    display: flex;
    flex-direction: column;
    background: #1d1d1d;
    padding: 7px;
    margin-right: 9px; margin-left: 9px;
}
.calc-row-wrapper {
    display: flex; 
    flex-direction: row;
    width: 700px;
}
.calc-row {
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.calc-row > div {
    margin: 3px;
}
.calc-column {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: fit-content;
}
.calc-opts {
    position: relative;
    display: flex;
    bottom: 0;
    width: fit-content;
    height: fit-content;
}
.img-holder {
    display: flex; margin: 5px;
}
.img-holder > img {
    padding: 5px;
    max-width: 95%;
}
.total-damage-mobile {
    display: none;
}

@media screen and (max-width: 794px) {
    .calc-row, .img-holder {
        flex-direction: column;
    }
    .main-page-subwrap {
        flex-direction: column-reverse;
    }
    .main-page-wrapper, .main-page, .info-page, .calc-row-wrapper {
        width: 100%;
    }
    .disappear {
        display: none;
    }
    .total-damage-mobile {
        display: block;
    }
    .total-damage-pc {
        display: none;
    }
}